# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Folders
build
sim

# Generated
src/generated
src/js/generated
src/js/pebble-js-app.js

# Config
.lock-waf_darwin_build
.DS_Store
*.sublime-*
